header {
  min-height: 1060px;
  background-image: url(/img/header_img/maska.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container-header {
  min-height: 1060px;
}

.lamp-container {
  position: absolute;
  right: 50.55%;
}

@media (max-width: 960px) {
  .lamp-container {
    visibility: hidden;
  }
}

.man-container {
  position: absolute;
  right: 140px;
  top: 211px;
}

@media (max-width: 1919px) {
  .man-container {
    right: 0;
  }
}

@media (max-width: 1619px) {
  .man-container {
    right: -88px;
  }
}
@media (max-width: 1350px) {
  .man-container {
    right: -136px;
  }
}
@media (max-width: 1280px) {
  .man-container {
    right: -174px;
  }

  
}

@media (max-width: 1079px) {
  .man-container {
    visibility: hidden;
  }
}

.circle {
  position: absolute;
  top: 334px;
  right: 30px;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  border: 2px solid rgba(46, 236, 197, 0.09);
  z-index: -1;
}

.circle-m {
  top: 58px;
  right: 54px;
  width: 584px;
  height: 584px;
  border: 2px solid rgba(46, 236, 197, 0.2);
}

.circle-s {
  top: 58px;
  right: 54px;
  width: 467px;
  height: 466px;
  border: 2px solid rgba(46, 236, 197, 0.6);
}

@media (max-width: 1919px) {
  /*   .man-container {
    right: 0;
  } */
  .circle {
    right: -110px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}

@media (max-width: 1619px) {
  /*  .man-container {
    right: -88px;
  } */
  .circle {
    right: -198px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}
@media (max-width: 1350px) {
  /* .man-container {
    right: -136px;
  } */
  .circle {
    right: -246px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}
@media (max-width: 1280px) {
  /*   .man-container {
    right: -1px;
  } */
  .circle {
    right: -290px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}

@media (max-width: 1079px) {
  .man-container {
    visibility: hidden;
  }
  .circle {
    visibility: hidden;
  }
}

.question-block {
  display: flex;
  gap: 24px;
  align-items: center;
}

.button-header {
  width: 200px;
  height: 57px;
}

.button-font_header {
  font-weight: 600;
  font-size: 19px;
}

.question {
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.line-header {
  position: absolute;
  top: 1055px;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    135deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}
