header {
  max-height: 1060px;
  background-image: url(/img/header_img/maska.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container-header {
  min-height: 1060px;
}

.lamp-container {
  position: absolute;
  right: 50.55%;
}

@media (max-width: 960px) {
  .lamp-container {
    visibility: hidden;
  }
}

.man-container {
  position: absolute;
  width: 663px;
  height: 844px;
  right: 140px;
  top: 211px;
  background-image: url("/img/header_img/man.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1919px) {
  .man-container {
    right: 0;
  }
}

@media (max-width: 1440px) {
  .man-container {
    right: -100px;
  }
}

@media (max-width: 1280px) {
  .man-container {
    right: -172px;
  }
}
/* @media (max-width: 1280px) {
  .man-container {
    right: -174px;
  }
} */

@media (max-width: 1124px) {
  .man-container {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .man-container {
    visibility: visible;
    width: 330px;
    height: 412px;
    top: 245px;
    right: -89;
    background-image: url('/img/header_img/man-small.svg');
  }
}

.circle {
  position: absolute;
  top: 334px;
  right: 30px;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  border: 2px solid rgba(46, 236, 197, 0.09);
  z-index: -1;
}

.circle-m {
  top: 58px;
  right: 54px;
  width: 584px;
  height: 584px;
  border: 2px solid rgba(46, 236, 197, 0.2);
}

.circle-s {
  top: 58px;
  right: 54px;
  width: 467px;
  height: 466px;
  border: 2px solid rgba(46, 236, 197, 0.6);
}

@media (max-width: 1919px) {
  .circle {
    right: -110px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}

@media (max-width: 1440px) {
  .circle {
    right: -198px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}
@media (max-width: 1280px) {
  .circle {
    right: -246px;
  }
  .circle-m {
    right: 58px;
  }
  .circle-s {
    right: 58px;
  }
}

@media (max-width: 1124px) {
  .circle {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .circle {
    visibility: visible;
    width: 347px;
    height: 347px;
    top: 299px;
    right: -146px;
  }
  .circle-m {
    right: 28px;
    top: 28px;
    width: 289px;
    height: 289px;
  }
  .circle-s {
    right: 28px;
    top: 28px;
    width: 231px;
    height: 231px;
  }
}

  .title-block {
    max-width: 805px;
  }

  @media (max-width: 576px) {
  .title-block {
    max-width: 220px;
  }
  }

.header-subtitle {
  font-weight: 800;
  font-size: 45px;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.header-manifesto {
  max-width: 522px;
  /* height: 84px; */
  padding-top: 26px;
  padding-bottom: 48px;
}

.header-manifesto > p:before {
  content: "Мы - студия web-разработки, работаем уже более 3-х лет, готовы разработать для вас сайт в кротчайшие сроки.";
  font-weight: 500;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.65);
}

@media (max-width: 768px) {
  .header-subtitle {
    display: none;
  }

  .header-manifesto {
    padding-top: 0;
    padding-bottom: 21px;
  }

  .header-manifesto > p:before {
    content: "Мы web-студия которая работает уже больше 3-х лет";
    font-size: 13px;
  }

  .question {
    display: none;
  }

  header {
    max-height: 656px;
  }

/*   .line-header {
    top: 657px;
  } */
}

.question-block {
  display: flex;
  gap: 24px;
  align-items: center;
}

.button-header {
  width: 200px;
  height: 57px;
}

.button-font_header {
  font-weight: 600;
  font-size: 19px;
}

@media (max-width: 768px) {
  .button-header {
    width: 129px;
    height: 38px;
  }

  .button-font_header {
    font-size: 11px;
  }
}

.question {
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.line-header {
  position: absolute;
  top: 1055px;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    135deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

@media (max-width: 768px) {
  .line-header {
    top: 657px;
  }
}
