.container-tarif {
    min-height: 984px;
}

.aside-line_tarif {
    width: 984px;
    top: 492px;
    left: -366px;
}

.title-tarif > h4 {
    padding-top: 96px;
    padding-bottom: 46px;
    text-align: center;
    color: linear-gradient(126deg, #b5feef 0%, #2eecc5 100%);
}

