

/*   h1 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 2.5rem;
    color: #fff;
  } */



.examples__title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 2.5rem;
  color: #fff;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

