.button {
  border: 1.5px solid #2eecc5;
  border-radius: 49px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 62px 0 rgba(46, 236, 197, 0.15);
  color: #fff;
}

@media (max-width: 768px) {
  .button {
    border-radius: 41px;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.15);
    background: rgba(46, 236, 197, 0.1);
  }
}
