.container-portfolio {
  min-height: 778px;
}

.title-portfolio_block {
  padding-top: 143px;
  max-width: 526px;
}

.aside-line_portfolio {
  width: 778px;
  top: 389px;
  left: -262px;
}

.button-portfolio {
  width: 269px;
  height: 51px;
}
