.title-contacty {
  max-width: 497px;
  margin: 0 auto;
  padding-top: 70px;
}

.ball-block_contacty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 820px;
  max-width: 92%;
  height: 196px;
  margin: 0 auto;
}

.ball {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #fff;
  background-clip: content-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball:hover {
  background: radial-gradient(
    77.86% 77.86% at 49.29% 50.71%,
    rgb(46, 236, 197) 0%,
    rgb(0, 100, 79) 100%
  );
  transition: all 0.2s linear;
  scale: 1.2;
  border: 1px solid rgba(46, 236, 197, 0.1);
  background-clip: content-box;
  padding: 10px;
}

.ball-icon {
  border-radius: 100%;
}

@media (max-width: 768px) {
  .ball-block_contacty {
    height: 105px;
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(
      110deg,
      #313134 0%,
      #222224 42.27%,
      #292929 100%
    );
    justify-content: center;
    gap: 10px;
  }

  .ball {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(181deg, #fff 2.5%, rgba(255, 255, 255, 0) 100%);
    background-clip: content-box;
    padding: 5px;
  }

  .ball:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    background-clip: content-box;
  }
}
