// src/components/ScrollToTopButton/scroll-to-top.module.scss

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.3);
  background-image: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--cursor), default;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
  z-index: 998;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.5);
    cursor: var(--cursor);
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.arrowUp {
  rotate: 90deg;
}

// Адаптация под мобильные
@media (max-width: 768px) {
  .scroll-to-top {
    bottom: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    font-size: 20px;
  }
}
