.slider-block {
  padding-top: 144px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slider-portfolio_container {
  overflow: hidden;
  max-width: 573px;
}

.arrow-container {
  position: absolute;
  width: 650px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  right: -20px;
  top: 290px;
}

.slider {
  display: flex;
  width: 6611px;
  justify-content: space-between;
}

.slide {
  min-width: 567px;
  height: 364px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid green;
  // Добавляем анимацию
  animation: fadeIn 3s ease-out forwards;
}

.arrow-circle {
  pointer-events: auto;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1.5px solid #153630;
  border-radius: 49%;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  cursor: var(--cursor, pointer);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

   &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.arrow-circle:hover {
  transform: scale(1.23);
}

.arrow {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49%;
  background: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  transition: all 0.3s ease;
}

@media (max-width: 1480px) {
  .slider-block {
    padding-top: 0;
    padding-left: 26px;
  }

  .arrow-container {
    position: relative;
    width: 175px;
    right: 0px;
    top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .slider-portfolio_container {
    position: relative;
    width: 360px;
  }

  .slider {
    justify-content: space-between;
    width: 2918px;
    display: flex;
  }

  .slide {
    min-width: 256px;
    height: 151px;
  }
}
