.forma-container {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    122deg,
    #313134 0%,
    #222224 29.21%,
    #12473c 59.25%,
    #292929 100%
  );
  height: 458px;
}

.title-forma {
  padding-top: 45px;
h5 {
  padding-bottom: 21px;
}
}

.foma-block {
  max-width: 926px;
  min-height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 57px;
}

.forma-item {
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 41px;
  width: 437px;
  height: 52px;
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.1);
}

.forma-item-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
}

.forma-item_button {
  width: 439px;
  display: flex;
  justify-content: flex-start;
  padding-top: 26px;
}

.input-label {
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
  color: rgba(255, 255, 255, 0.7);
}

.button-forma {
  width: 184px;
  height: 52px;
}

.button-font_forma {
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
}

.formaBlock {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.formaBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.iPhone {
  position: relative;
  min-width: 269px;
  min-height: 529px;
}

.iPhone img {
  position: absolute;
  top: -28px;
}

.iphoneButton {
  position: absolute;
  border-radius: 29px;
  border: none;
min-width: 213px;
max-height: 58px;
backdrop-filter: blur(30px);
background: rgba(255, 255, 255, 0.1);
z-index: 99;
display: flex;
justify-content: space-between;
/* align-items: center; */
padding: 12px 15px 10px 11px;

p{
font-weight: var(--font-size-Regular);
font-size: 14px;
/* text-align: center; */
color: rgba(255, 255, 255, 0.9);
white-space: pre-line; /* или pre-wrap */
}

p span {
font-weight: var(--font-size-Regular);
font-size: 12px;
line-height: 106%;
color: rgba(255, 255, 255, 0.7);
}
}

.leftButton {
right: 150px;
top: 50px;
}

.rightButton {
  right: -120;
  top: 215px;
}

.iconGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconElips {
  width: 51px;
  height: 51px;
  background-image: url('/images/Ellips.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconElipse {
  width: 51px;
  height: 51px;
  background-image: url('/images/Ellipse.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
.formaBlock {
  justify-content: center;
}

  .forma-container {
    height: 677px;
   
  }

  .forma-item_button {
    justify-content: center;
    width: 328px;
    padding-top: 23px;
  }
  .foma-block {
    flex-direction: column;
  }

  .title-forma {
    text-align: center;
  }

  .forma-item-wrapper {
    max-width: 328px;
    padding-bottom: 17px;
  }

  .forma-item {
    max-width: 328px;
  }

  .input-label {
    text-align: left;
  }

  .title-forma {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  
}


@media (max-width: 1680px) {
.iPhone {
    display: none;
  }

  .iphoneButton {
    display: none;
  }
}