.sliderContainer {
  position: relative;
  width: 100vw;  // ← вся ширина экрана
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  /* cursor: pointer; */

  &:hover .info {
    opacity: 1;
  }
}

.iframeSite {
  width: 100%;
  height: 100%;
  border: none;
  background: #000;
  // Отключаем прокрутку внутри iframe
  overflow: hidden;

  // Для браузеров, которые всё равно хотят скролл
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Информация поверх iframe
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);

  h5 {
    margin: 0 0 16px;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    opacity: 0.9;
    max-width: 600px;
    padding: 20px 0;
  }
}

.buttonSite {
  width: 400px;
  height: 56px;
  margin: 30px;
}

.buttonSlider {
  border: 1.5px solid #2eecc5;
  border-radius: 4px !important;
  width: 200px;
  height: 57px;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
  background: #161617;
}

.nextButton {
  z-index: 99;
}

// Стрелки поверх слайдера
.navButton {
  position: absolute;
  width: 50px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  border: none;
  /* border-radius: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  &.left {
    left: 0px;
  }
  
  &.right {
    right: 0px;
  }
}

// Точки навигации
.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 3;
}

.dot {
  width: 12px;
  height: 12px;
  background: radial-gradient(
    77.86% 77.86% at 49.29% 50.71%,
    rgb(46, 236, 197) 0%,
    rgb(0, 100, 79) 100%
  );
  border-radius: 50%;
  cursor: pointer;

  &.active {
    background: #fff;
    border: 2px solid rgb(46, 236, 197);
    width: 14px;
    height: 14px;
  }
}

// Адаптивность
@media (max-width: 768px) {

  .info h5 {
    font-size: 0.6rem;
  }

  .info p {
    font-size: 0.3rem;
    padding: 10px 0;
  }

  .dots {
  bottom: 10px;
  }

  .navButton {
    width: 25px;
  }
}