.aside-line {
  position: absolute;
  height: 100%;
  width: 2.5px;
  background: linear-gradient(
    135deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
  top: 0;
  left: 182px;
}

@media (max-width: 1919px) {
  .aside-line {
    visibility: hidden;
  }
}