/* Стиль для бургер-иконки */
@media (max-width: 960px) {
  .burger {
    display: none;
    flex-direction: column;
    cursor: var(--cursor);
    z-index: 1000;
    position: relative;
  }

  .span {
    width: 36px;
    height: 4px;
    background-color: #2abc9e;
    margin: 4px 0;
    transition: 0.3s;
    background: linear-gradient(150deg, #2eecc5 0%, #3a796d 100%);
    box-shadow: 0 0 21px 0 rgba(53, 166, 144, 0.5);
  }

  .span-m {
    width: 24px;
  }

  /* Активная анимация бургера */
  .burger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(5px, 22px);
    border-radius: 5px;
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(45deg) translate(6px, -22px);
    border-radius: 5px;
  }

  /* Показываем бургер на малых экранах */
  @media (max-width: 960px) {
    .burger {
      display: flex;
    }
  }

  /* === Стили для меню === */
  .nav-menu {
    display: flex;
    gap: 2rem;
  }

  .nav-menu ul {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .nav-menu ul li a:hover {
    /* color: #2abc9e; */
  }

  /* === Мобильное меню === */
  /* @media (max-width: 960px) { */
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.5s ease;
    z-index: 999;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  .nav-menu ul li a {
    color: white;
    font-size: 1.5rem;
  }

  .nav-menu ul li a:hover {
    /* color: #2abc9e; */
  }

  /* Скрываем кнопку "Заказать" в мобильном меню, если нужно */
  .menu a .button-menu {
    display: none;
  }
}

@media (min-width: 961px) {
  .mobile-only {
    display: none;
  }
}
