.button {
  /* cursor: var(--cursor); */
  border: 1.5px solid #2eecc5;
  border-radius: 49px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 62px 0 rgba(46, 236, 197, 0.15);
}

.button-font {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.button-menu {
  width: 183px;
  height: 56px;
  margin-left: 88px;
}

.button-header {
  width: 200px;
  height: 57px;
}


@media (max-width: 960px) {
  .button-menu {
    display: none;
  }
}