h1 {
  font-weight: 800;
  font-size: 65px;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h2 {
  font-weight: 800;
  font-size: 45px;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding-bottom: 33px;
  line-height: 106%;
}

h3 {
  font-weight: 500;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.65);
  padding-bottom: 48px;
}

h4 {
  font-weight: 800;
  font-size: 55px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
}

h5 {
  font-weight: 800;
  font-size: 50px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
}

h6 {
  font-weight: 800;
  font-size: 96px;
  letter-spacing: 0.02em;
  color: #fff;
}

p {
  font-weight: 500;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.65);
}

@media (max-width: 768px) {
 h6 {
  display: none;
 }
}

@media (max-width: 768px) {
  h1 {
    font-size: 27px;
  }

  h2 {
    display: none;
  }
  h3 {
    font-size: 13px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 37px;
  }
}
