.menu-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 215px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-mobile {
  display: none;
}

@media (max-width: 960px) {
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
  }
}

.logo-studio {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.31em;
  color: #fff;
}

.logo-web {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  line-height: 45%;
  letter-spacing: -0.12em;
  color: #fff;
  rotate: 0.19deg;
}

.menu {
  display: flex;
  align-items: center;
  /*     gap: 88px; */
}

ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

li > a {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.button-menu {
  width: 183px;
  height: 56px;
  margin-left: 88px;
}

.button-font_menu {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 960px) {
  .button-menu {
    display: none;
  }
}

@media (max-width: 960px) {
  .menu-container {
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav-menu ul li:hover {
    background: linear-gradient(
      100deg,
      #30dbb8 0%,
      #37a58f 36.1%,
      #398778 100%
    );
  }

  /* === Мобильное меню === */
  .nav-menu {
    position: fixed;
    top: -100%;
    width: 91%;
    height: 338px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: top 0.3s ease;
    z-index: 999;
  }

  .nav-menu.active {
    top: 0;
  }

  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }

  .nav-menu ul li a {
    color: white;
    font-size: 1.5rem;
  }

  /* Скрываем кнопку "Заказать" в мобильном меню, если нужно */
  .menu a .button-menu {
    display: none;
  }
}

@media (min-width: 961px) {
  .mobile-only {
    display: none;
  }
}
