.forma-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 458px;
  background: linear-gradient(
    122deg,
    #313134 0%,
    #222224 29.21%,
    #12473c 59.25%,
    #292929 100%
  );
}

.title-forma {
  padding-top: 45px;
  padding-bottom: 41px;
}

.foma-block {
  max-width: 992px;
  min-height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 57px;
}

.forma-item {
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 41px;
  width: 437px;
  height: 52px;
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.1);
}

.forma-item-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
}

.forma-item_button {
  min-width: 439px;
  display: flex;
  justify-content: flex-start;
  padding-top: 26px;
}

.input-label {
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
  color: rgba(255, 255, 255, 0.7);
}

.button-forma {
  width: 184px;
  height: 52px;
}

.button-font_forma {
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
}

@media (max-width: 960px) {
  .forma-item_button {
    justify-content: center;
  }
  .foma-block {
    align-items: center;
    flex-direction: column;
  }

  .title-forma {
    text-align: center;
  }
}