h1 {
  font-weight: var(--font-size-ExtraBold);
  font-size: 65px;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h2 {
  font-weight: var(--font-size-Bold);
  font-size: 55px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-weight: var(--font-size-SemiBold);
  font-size: 26px;
  line-height: 123%;
  color: #fff;
}

h4 {
  font-weight: var(--font-size-Bold);
  font-size: 32px;
  text-align: center;
  color: #fff;
}

h5 {
  font-weight: var(--font-size-Bold);
  font-size: 50px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
}

h6 {
  font-weight: var(--font-size-Bold);
  font-size: 96px;
  letter-spacing: 0.02em;
  color: #fff;
}

p {
  font-weight: var(--font-size-Medium);
  font-size: 17px;
  color: rgba(255, 255, 255, 0.65);
}

@media (max-width: 768px) {
  h6 {
    display: none;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 37px;
  }

  p {
    font-size: 11px;
  }
}
