:root {
  --font-family: "Ruberoid", sans-serif;
  --cursor: url("/images/pointer.png"), default;
  /* --cursor: default; */
  --font-size-Regular: 400;
  --font-size-Medium: 500;
  --font-size-SemiBold: 600;
  --font-size-Bold: 700;
  --font-size-ExtraBold: 800;
}

* {
  /* outline: auto; */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #161617;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: #fff;
  position: relative;
}

a {
  text-decoration: none;
  cursor: var(--cursor);
}

* > a {
  cursor: var(--cursor);
}

a > button {
  cursor: var(--cursor);
}

a > p {
  cursor: var(--cursor);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  position: relative;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 16px 0 8px;
}











