.slider-tarif_container {
  position: relative;
  width: 1120px;
  min-height: 670px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: absolute;
  display: flex;
}

.carousel__item {
  visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  width: 370px;
  height: 570px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(155deg, #313134 0%, #292929 51.31%, #282828 100%);
  transition: all 0.3s linear;
}

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  visibility: visible;
}

.carousel__item--left {
  transform: translate(-150%, -50%) scale(0.8);
  z-index: 1;
  visibility: visible;
  opacity: 0.65;
  pointer-events: none;
}

.carousel__item--right {
  transform: translate(50%, -50%) scale(0.8);
  z-index: 1;
  visibility: visible;
  opacity: 0.65;
  pointer-events: none;
}

/* текстовые блоки */
.carousel__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  padding: 24px 18px;
  white-space: pre-line;
}

.titlep {
  font-weight: var(--font-size-Medium);
  padding: 0 30px 0 29px;
  line-height: 154%;
  text-align: center;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
}

.button {
  border: 1.5px solid #2eecc5;
  border-radius: 41px;
  width: 172px;
  height: 57px;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
  background: rgba(46, 236, 197, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.style-text {
  font-weight: var(--font-size-SemiBold);
  font-size: 17px;
  line-height: 2em;
}

.price-block {
  display: flex;
  justify-content: space-between;
  padding: 0 22px 23px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pricep {
  font-family: var(--font-family);
  font-weight: var(--font-size-Bold);
  font-size: 20px;
  line-height: 154%;
  color: #fff;
}

.price > span {
  font-family: var(--font-family);
  font-weight: var(--font-size-Medium);
  font-size: 17px;
  line-height: 154%;
  color: rgba(255, 255, 255, 0.4);
}

/* кнопки навигации */
.carousel__btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 58%;
  gap: 980px;
  pointer-events: none;
  z-index: 100;
}

.carousel__btn {
  pointer-events: auto;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1.5px solid #153630;
  border-radius: 50%;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  cursor: var(--cursor);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.carousel__btn:hover {
  transform: scale(1.23);
}

.ball {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  transition: all 0.3s ease;
}

@media (max-width: 1440px) {
  .slider-tarif_container {
    min-height: 522px;
  }

  .carousel__item {
    width: 274px;
    height: 374px;
  }

  .title {
    font-size: 25px;
    padding: 12px 0;
  }

  .titlep {
    font-size: 12px;
    padding: 0 18px;
  }

  .price-block {
  padding: 0 18px 16px;
}

  .pricep {
    font-size: 16px;
  }

  .price > span {
    font-size: 13px;
  }

  .carousel__item--main {
    transform: translate(-50%, -50%) scale(1);
  }

  .carousel__item--left {
    transform: translate(-155%, -50%) scale(1);
  }

  .carousel__item--right {
    transform: translate(55%, -50%) scale(1);
  }

  .carousel__btns {
    position: relative;
    gap: 35px;
  }

  .button {
    width: 126px;
    height: 38px;
  }

  .style-text {
    font-size: 12px;
  }

  /* .carousel__text {
    height: 100%;
  } */
}
