.container-tarif {
    height: 984px;
}

.title-tarif {
    padding-top: 96px;
    padding-bottom: 46px;
    text-align: center;
}

.tarif-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .tarif-contant {
    height: 380px;
  }
  
  .container-tarif {
    height: 840px;
  }

  .title-tarif {
    padding-bottom: 40px;
    padding-top: 0;
  }
}