.container-tarif {
    min-height: 984px;
}

.title-tarif {
    padding-top: 96px;
    padding-bottom: 46px;
    text-align: center;
    color: linear-gradient(126deg, #b5feef 0%, #2eecc5 100%);
}

.tarif-contant {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}