.container-tarif {
    min-height: 984px;
}

.title-tarif > h4 {
    padding-top: 96px;
    padding-bottom: 46px;
    text-align: center;
    color: linear-gradient(126deg, #b5feef 0%, #2eecc5 100%);
}

.slide-text_block {
    padding: 44px 57px 0 56px;
}