.title-contacty {
  max-width: 497px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 38px;
}

.ball-block_contacty {
  display: flex;
  justify-content: space-between;
  width: 814px;
  height: 165px;
  background: #000;
  margin: 0 auto;
}
