.title-contacty {
  max-width: 497px;
  margin: 0 auto;
  padding-top: 70px;
  /* padding-bottom: 38px; */
}

.ball-block_contacty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 814px;
  min-height: 165px;
  margin: 0 auto;
}

.ball-circle {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-circle:hover {
  width: 165px;
  height: 165px;
  border: 1px solid rgba(46, 236, 197, 0.1);
  .ball {
  width: 140px;
  height: 140px;
  background-image: radial-gradient(
    77.86% 77.86% at 49.29% 50.71%,
    rgb(46, 236, 197) 0%,
    rgb(0, 100, 79) 100%
  );
}
}

.ball {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .ball:hover {
  width: 140px;
  height: 140px;
  background-image: radial-gradient(
    77.86% 77.86% at 49.29% 50.71%,
    rgb(46, 236, 197) 0%,
    rgb(0, 100, 79) 100%
  );
} */

.ball-icon {
  border-radius: 100%;
}
