.menu-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 215px;
}

@media (max-width: 768px) {
  .menu-container {
    padding-top: 56px;
    padding-bottom: 140px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-mobile {
  display: none;
}

@media (max-width: 960px) {
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
  }
}

.logo-studio {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.31em;
  color: #fff;
}

.logo-web {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  line-height: 45%;
  letter-spacing: -0.12em;
  color: #fff;
  rotate: 0.19deg;
}

.menu {
  display: flex;
  align-items: center;
}

.menuUl {
  list-style: none;
  display: flex;
  gap: 35px;
}

.menuLink {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.button-menu {
  width: 183px;
  height: 56px;
  margin-left: 88px;
}

.button-font_menu {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 960px) {
  .button-menu {
    display: none;
  }
}

@media (max-width: 960px) {
  .menu-container {
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav-menu ul li:hover {
    background: linear-gradient(
      100deg,
      #30dbb8 0%,
      #37a58f 36.1%,
      #398778 100%
    );
  }

  /* === Мобильное меню === */
  .nav-menu {
    position: absolute;
    top: -100%;
    width: 95%;
    height: 352px;
    background-image: linear-gradient(137deg, #161919 0%, #373a3a 98.26%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 15px 15px;
    transition: top 0.3s ease;
    z-index: 999;
    /* padding-left: 8px;
    padding-right: 16px; */
  }


  .nav-menu.active {
    top: 0;
  }

  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }

.menuUl {
  list-style: none;
  display: flex;
  gap: 0;
  padding-top: 112px;
}

  .nav-menu ul li {
    min-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu ul li a {
    font-family: var(--font-family);
    font-weight: var(--font-size-Bold);
    font-size: 20px;
    line-height: 118%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Скрываем кнопку "Заказать" в мобильном меню, если нужно */
  .menu a .button-menu {
    display: none;
  }
}

@media (min-width: 961px) {
  .mobile-only {
    display: none;
  }
}
