.container-about {
 min-height: 1062px;
}

.about-title_block {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 32px;
}

.about-title {
  max-width: 672px;
}

.about-tile {
  border-radius: 6px;
  min-width: 400px;
  min-height: 400px;
  box-shadow: 0 0 150px 0 rgba(59, 95, 150, 0.35);
  background: linear-gradient(
    140deg,
    #527791 0%,
    #325597 51.98%,
    #193895 92.79%
  );
}

.about-tile_block {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1330px) {
  .about-tile_block {
    flex-direction: column;
  }
}

@media (max-width: 960px) {
  .about-title_block {
    flex-direction: column;
  }

  .hide-span_about {
    visibility: hidden;
  }

  .about-title {
    text-align: center;
    margin: 0 auto;
  }
}


