.footer-block {
  padding-top: 71px;
  text-align: center;
  padding-bottom: 40px;
}

.copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 106%;
  color: rgba(255, 255, 255, 0.7);
}

.policy {
  font-weight: 400;
  font-size: 13px;
  line-height: 106%;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 576px) {
.footer-block {
  padding-top: 14px;
  padding-bottom: 15px;
}

  .copyright {
    font-size: 9px;
  }

  .policy {
    font-size: 9px;
  }
  }
