.container-portfolio {
  min-height: 778px;
}

.title-portfolio_block {
  padding-top: 143px;
  max-width: 526px;
}

.button-portfolio {
  width: 269px;
  height: 51px;
}

.button-font_portfolio {
  font-weight: 500;
  font-size: 17px;
}
